# Set the default behavior to automatically normalize line endings.
* text=auto

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Declare binary files to be excluded from end-of-line normalization.
*.jpg binary
*.png binary
*.gif binary
